
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /* overflow-x: hidden;*/
}

#wrapper {
  background: #333;  /*background fallback*/
  background-attachment: fixed;
  background-size: cover;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

#landing-intro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}

.jumbotron {
  background-color: transparent;
  height: 100vh;
  padding-top: 15vh;
  padding-bottom: 25vh;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px
}

.jumbotron img {
  width: 400px;
}

#landing-button {
  font-weight: 700;
  
}

#landing-button:hover {
  color: #141414;
  font-weight: 700;

}

.lead {    
/*font-family: 'Kaushan Script', cursive;*/
  font-size: 30px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  background-color: rgba(42,42,42,0.5);
  color: white;
  width: auto;
}
/*why excel*/

.excel-logo  {
  width: 100px;
  margin: 0 auto;
}

.nav-item-why-excel {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
/*  color: #181818;*/
}

.navbar {
  background-color: rgb(73,157,245);
  box-shadow: 0 2px 10px #A0A0A0;
}

#client-nav{
  margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.04em;
}

p {
  font-family: 'Raleway', sans-serif;
}

.carousel-item {
  height: 100%;
}

.card-img-bottom {
  height: 20rem;
  background: url(../images/why-image1.jpg) center no-repeat;
  background-size: cover;
}

.card-img-1 {
  height: 20rem;
  background: url(../images/why-image1.jpg) center no-repeat;
  background-size: cover;
}

.card-img-2 {
  height: 20rem;
  background: url(../images/why-image2.jpeg) center no-repeat;
  background-size: cover;
}

.card-img-3 {
  height: 20rem;
  background: url(../images/why-image3.jpg) center no-repeat;
  background-size: cover;
}

.disp-table {
  height: 320px;
  display: table;
}

.disp-cell {
  height: 320px;
  display: table-cell;
  vertical-align: middle;
}

#welcome {
  background-color: #f1f1f1;
}

#why-excel {
  background-color: rgb(73,157,245);
}

.remove-overflow-y {
  overflow-y: hidden;
}

.card-img-1, .card-img-2, .card-img-3 {
  border-radius: 2%;
  box-shadow: 5px 5px 20px #181818;
}


footer {
  background-color: #1d2951;
  color: #cccccc;
}

.footer-link {
  color:#cccccc;
}

/*our clients*/



#client-intro {
  background-image: url(../images/main-clients.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

}

.client-list {
  background-color: #f1f1f1;
}


.client-container {
  position: relative;
  height: 200px;
  width: auto;
  display: table;

}

.test-div {
  display: table-cell;
  vertical-align: middle;
}


.client-logo {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #499DF5;
  border-radius: 2%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
}

.client-container:hover .overlay {
  opacity: 1;
}

.client-text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  transform: translate(-50%, -50%);
  text-align: center;
}

.test-client {
  background-color: rgb(73,157,245);
}

.client-text {
  font-size: 1em;
}

.bg {
  background-color: rgb(25,25,25,0.4);
}

/*Your career*/

.employee-pic {
  width: 300px;
  border-radius: 2%;
  box-shadow: 5px 5px 20px #181818;
}

.employee-table {
  display: table;
  height: 380.031px;
}

.employee-cell {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

#job-search {
  background-color: rgb(73,157,245);
  height: auto;
}

.label-search {
  margin-right: 20px;
}

.input-search {
  margin-right: 40px;
}

.white-section {
  background-color: #f1f1f1;
}

#excel-benefits {
  height: auto;
}

.map {
  width: 345px;
  height: 345px;
}

.contact-cell {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;  
  font-size: 25px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.get-quote {
  background-color: rgb(73,157,245);
  height: auto;
}

.active {
  color: yellow;
}

#comments-area {
  height: 500px;
}


.page-cl {
  padding-left: 0;
  padding-right: 0;
}

#quote {
  font-size: 50px
}


@media only screen and (min-width:401px) and (max-width: 960px) {

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .carousel-item {
    height: 100%;
  }

  .map {
    width: 700px;
    
    padding-left: 35px;
  }
  .employee-cell {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .employee-table {
    height: 30vh;
  }

  .testimonial {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 400px) {
  .carousel-item {
    height: 100%;
  }

  #client-intro {
    height: 300%;
  }

  .rev {
    display: flex;
    flex-direction: column-reverse;
  }

  .employee-table {
    padding-top: 50px;
  }

  .samsung {
    padding-top: 50px;
  }

  .southwest {
    padding-top: 50px;
  }

  .expedia {
    padding-top: 50px;
  }
}
